<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        {{> header}}
        <p>Home page contents.</p>
        <hr> To get your JDE token click <a href = /testJSON>here</a>
        {{> footer}}
    </body>
</html>